<nav class="navbar  px-2" >
    <div class="side-nav-button p-2 me-3   text-center text-light " (click)="SideNavToggle()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="23" height="23" fill="currentColor"><path fill="none" d="M0 0h24v24H0z"></path><path d="M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z"></path></svg>
    </div>

<!-- <form action="" class="d-flex me-5">
    <input class="form-control me-2" type="search" placeholder="Search">
    <button class="btn btn-outline-light" type="submit">Usuario</button>

</form> -->


<div>
    
    
    <div class=" titulo">Sistema Gestion de Procesos Hospitalarios</div>
    
</div>
    
    




</nav>