<div class="container">
  <div class="form-container">
    <form class="" [formGroup]="form" (ngSubmit)="Guardar()">
      <h1 class="title">Registro Archivo Clínico</h1>
      <div class="hrflex"></div>
      <div class="form-group row">
        <div class="col-sm">
          <label for="expediente">Expediente</label>
          <input type="text" formControlName="expediente"class="form-control" id="expediente" placeholder="Expediente...">
          <div class="alert alert-danger" [hidden]="form.get('expediente')?.valid ||form.get('expediente')?.pristine ">Expediente Obligatorio</div>
        </div>
        <div class="col-sm">
          <label for="nombre">Nombre</label>
          <input type="text"  formControlName="nombre" class="form-control" id="nombre" placeholder="Nombre...">

          <div class="alert alert-danger" [hidden]="form.get('nombre')?.valid ||form.get('nombre')?.pristine ">Nombre Obligatorio</div>

        </div>
        <div class="col-sm">
          <label for="apellido-paterno">Apellido Paterno</label>
          <input type="text" formControlName="paterno" class="form-control" id="apellido-paterno" placeholder="Apellido Paterno...">
          <div class="alert alert-danger" [hidden]="form.get('paterno')?.valid ||form.get('paterno')?.pristine ">Apellido Pat. Obligatorio</div>

        </div>
        <div class="col-sm">
          <label for="apellido-materno">Apellido Materno</label>
          <input type="text" formControlName="materno" class="form-control" id="apellido-materno" placeholder="Apellido Materno...">
          <div class="alert alert-danger" [hidden]="form.get('materno')?.valid ||form.get('materno')?.pristine ">Apellido Mat. Obligatorio</div>

        </div>
      </div>

      <br>

      <div class="form-group row">
        <div class="col-sm">
          <label for="fecha-elaboracion">Fecha Elaboración</label>
          <input type="date" formControlName="fecha_elab" class="form-control" id="fecha-elaboracion">
          <div class="alert alert-danger" [hidden]="form.get('fecha_elab')?.valid ||form.get('fecha_elab')?.pristine ">Fecha elab. Obligatorio</div>

        </div>
        <div class="col-sm">
          <label for="elabora">Elabora</label>
          <input type="text" formControlName="elabora_name" class="form-control" id="elabora" placeholder="Elabora...">
          <div class="alert alert-danger" [hidden]="form.get('elabora_name')?.valid ||form.get('elabora_name')?.pristine ">Nombre de quien elabora es Obligatorio</div>

        </div>
        <div class="col-sm">
          <label for="matricula">Matrícula</label>
          <input type="text" formControlName="matricula" class="form-control" id="matricula" placeholder="Matrícula...">
          <div class="alert alert-danger" [hidden]="form.get('matricula')?.valid ||form.get('matricula')?.pristine ">Matricula Obligatoria</div>

        </div>
      </div>


      <div class="row">
        <div class="col-sm">
          <button (click)="Guardar()" type="submit" class="btn btn-guardar">Guardar</button>
          <button type="submit" class="btn  btn-nuevo">Nuevo</button>
        </div>
      </div>
    </form>
  </div>
</div>
<br>
<div class="row">
  <div col-12 >
    <table class="table table-responsive">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Expediente</th>
        <th scope="col">Nombre del Paciente</th>
        <th scope="col">lore</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td></td>
      </tr>
      </tbody>
    </table>

  </div>

</div>




<!--<app-formpractica></app-formpractica>-->
<router-outlet/>
