.hrflex{
    display: block;
    height: 2px;
    border: 0;
    background-color: #235b4e;
    margin: 1em 0;
    padding: 0;
}

input{
    border-color: #9D2449;
    background-color: rgb(239, 238, 238);
}
label{
    color: #9D2449;
}

select{
    border-color: #9D2449;
    background-color: rgb(239, 238, 238);
}
 .title{
        color: #235b4e;
    }