<div class="container">
    <div class="row">
      <div class="col-12 text-center mb-4">
        <h2>Registro de Expedientes</h2>
      </div>
      <div class="row mb-5">
          <form>
              <div class="row">
               
                <div class="col-2 mb-4">
                  <label for="validationServer02">Fecha</label>
                  <input type="date" class="form-control " id="validationServer02" placeholder="Last name" value="" required>
                  <div class="valid-feedback">
                    Correcto!
                  </div>
                </div>
                
                <div class="col-2 mb-4">
                  <label for="validationServer02">Expediente</label>
                  <input type="text" class="form-control " id="validationServer02" placeholder="Last name" value="Expediente" required>
                  <div class="valid-feedback">
                    Correcto!
                  </div>
                </div>
                <div class="col-5 mb-4">
                  <label for="validationServer02">Nombre del Paciente</label>
                  <input type="text" class="form-control " id="validationServer02" placeholder="Last name" value="Paciente" required>
                  <div class="valid-feedback">
                    Correcto!
                  </div>
                </div>
                <div class="col-3 mb-4">
                  <label for="validationServer02">Elaboro</label>
                  <input type="text" class="form-control " id="validationServer02" placeholder="Last name" value="" required>
                  <div class="valid-feedback">
                    Correcto!
                  </div>
                </div>
  
              </div>        
  
            
          
                <button class="btn btn-primary mx-4" type="submit">Cancelar</button>
              <button class="btn btn-primary" type="submit">Aceptar</button>
            </form>
      </div>
  
    </div>
    <div class="row">
        <div col-12 >
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Expediente</th>
                    <th scope="col">Nombre del Paciente</th>
                    <th scope="col">Elaboro</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>twitter</td>
                  </tr>
                </tbody>
              </table>
              
            
        </div>

    </div>
  </div>
  
